#Ignore .class files :
*.class
# Ignore .json files in BDD:
*.json
# Ignore the folders extensions and node_modules :
.extensions
.node_modules

# Ignore the .idea folder :
.idea
#Ignore the .env files:
*.env

##.DS_Store for Mac_OS configuration files
.DS_Store
#VSCode config files
*.vscode

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi

*.log
.*.swp
